test.log
*.sqlite3
development.log
./tmp/
*.swp




build/*
*.pbxuser
*.mode1v3
*~.nib

*.xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcuserdatad/*
*xcodeproj/project.xcworkspace/*

*.perspective
*.perspectivev3
.DS_Store
